[submodule "thirdparty/keystone"]
	path = thirdparty/keystone
	url = https://github.com/keystone-engine/keystone
[submodule "thirdparty/capstone"]
	path = thirdparty/capstone
	url = https://github.com/capstone-engine/capstone
